.app__gallery {
    flex-direction: row;

    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
}
.app__gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    min-width: 500px;
    padding-right: 2rem;
}
.app__gallery-content button {
    margin-top: 1rem;
}